:root{
    /* CONFIGURABLE SETTINGS */
        /* COLORS */
        --color-white: #FFFFFF;
        --color-light-grey: #ececec;
        --color-grey: #586768;
        --color-black: #000000;
        --color-light-blue: #00ACEE;
        --color-medium-blue: #106FC6;
        --color-dark-blue: #0D579C;

        /* BACKGROUND */
        --light-blue-color: var(--color-light-blue);
        --light-blue-shadow-color: #0073A1;

        --medium-blue-color: var(--color-medium-blue);
        --medium-blue-shadow-color: var(--color-dark-blue);

        --dark-blue-color: var(--color-dark-blue);

        /* COLOR SCHEMES */
        [data-color-scheme|="light-blue"] {
            --background-color: var(--light-blue-color);
            --background-shadow: var(--light-blue-shadow-color);
        }

        [data-color-scheme|="medium-blue"] {
            --background-color: var(--medium-blue-color);
            --background-shadow: var(--medium-blue-shadow-color);
        }

        [data-color-scheme|="dark-blue"] {
            --background-color: var(--dark-blue-color);
        }

        /* TEXT */
            /* PRIMARY FONT */

            /* SECONDARY FONT */

            /* FONT SIZES */

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* PRIMARY BUTTON */
            /* STYLE */
            :is(.primary-button, .secondary-button, .wp-block-button:not(.is-style-outline) > .wp-element-button) {
                border-radius: 1rem;
            }

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* SECONDARY BUTTON */
            /* STYLE */

            /* LIGHT BACKGROUND COLORS */

            /* DARK BACKGROUND COLORS */

        /* FORMS */

        /* EYEBROW */

        /* MARGINS */

        /* MISCELANEOUS */

}

.blocks-container {
    margin: 0 auto;
    -webkit-transform: translate3d(0,0,0);
}

.blocks-container > .alignfull {
    max-width: 100%;
    -webkit-transform: translate3d(0,0,0);
}

.home main {
    margin-top: -9rem;
}