.page-hero:is([data-color-scheme="light-blue"], [data-color-scheme="medium-blue"], [data-color-scheme="dark-blue"]) {
    background: var(--background-color);
    color: var(--color-white);
}

.page-hero:is([data-color-scheme|="light-blue"], [data-color-scheme|="medium-blue"], [data-color-scheme|="dark-blue"]) :is(.page-hero-image img, .page-hero-video-player :is(iframe, video)) {
    opacity: 0.3;
}

.page-hero:is([data-color-scheme|="light-blue"], [data-color-scheme|="medium-blue"], [data-color-scheme|="dark-blue"]) :is(h1, h2, h3, h4, h5, h6, p, .eyebrow) {
    color: var(--color-white);
}

.page-hero:is([data-color-scheme|="light-blue"], [data-color-scheme|="medium-blue"], [data-color-scheme|="dark-blue"]) :is(.primary-button) {
    background-color: var(--background-color);
    border-color: var(--background-color);
}

.page-hero:is([data-color-scheme|="light-blue"], [data-color-scheme|="medium-blue"], [data-color-scheme|="dark-blue"]) :is(.secondary-button, .wp-block-button.is-style-outline > .wp-block-button__link.wp-element-button) {
    border-color: var(--color-white);
    color: var(--color-white);
}

.page-hero:is([data-color-scheme|="light-blue"]) :is(.primary-button:is(:hover, :active, :focus), .secondary-button:is(:hover, :active, :focus), .wp-block-button.is-style-outline > .wp-block-button__link.wp-element-button:is(:hover, :active, :focus)) {
    background: var(--medium-blue-shadow-color);
}

.page-hero:is([data-color-scheme|="medium-blue"]) :is(.primary-button:is(:hover, :active, :focus), .secondary-button:is(:hover, :active, :focus), .wp-block-button.is-style-outline > .wp-block-button__link.wp-element-button:is(:hover, :active, :focus)) {
    background: var(--dark-blue-color);
}