.header-simple[data-color-scheme="light-blue"],
.header-simple[data-color-scheme="medium-blue"],
.header-simple[data-color-scheme="dark-blue"] {
    background: var(--background-color);
    color: var(--color-white);
}

.home .header-simple:not(.scrolled) {
    background: transparent;
    position: relative;
    transition: 0.3s all ease;
    padding-top: 1rem;
}

.header-simple:is(.scrolled) {
    transition: 0.3s all ease;
    top: 0 !important;
}

.header-simple .logo :is(img, svg) {
    max-width: 15rem;
    max-height: 6rem;
}

.header-simple a {
    color: var(--color-white);
}

.header-simple .featured-menu li:last-child a {
    background-color: var(--color-light-blue);
    border-color: var(--color-light-blue);
    border-radius: 2.4rem;
    padding: 0.4rem 1.4rem 0.4rem 2rem;
}

.header-simple .featured-menu li:last-child a:is(:hover, :active, :focus) {
    background-color: var(--color-dark-blue);
}

.header-simple .featured-menu li:last-child a::after {
    content: '';
    border: solid var(--color-white);
    border-width: 0 0.2rem 0.2rem 0;
    display: inline-block;
    padding: 0.3rem;
    margin: 0.1rem 0.5rem;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}