.page-hero-carousel:is([data-color-scheme="light-blue"], [data-color-scheme="medium-blue"], [data-color-scheme="dark-blue"]) {
    background: var(--background-color);
    color: var(--color-white);
}

.page-hero-carousel:is([data-color-scheme|="light-blue"], [data-color-scheme|="medium-blue"], [data-color-scheme|="dark-blue"]) :is(.page-hero-carousel-image img, .page-hero-carousel-video-player :is(iframe, video)) {
    opacity: 0.3;
}

.page-hero-carousel:is([data-color-scheme|="light-blue"], [data-color-scheme|="medium-blue"], [data-color-scheme|="dark-blue"]) :is(h1, h2, h3, h4, h5, h6, p, .eyebrow) {
    color: var(--color-white);
}

.page-hero-carousel h1 {
    font: var(--font-headline-3);
}

.page-hero-carousel-slide {
    padding: calc(var(--block-margin) * 2) 0;
}

.page-hero-carousel-wrapper {
    width: var(--wide-width);
}

.page-hero-carousel-inner {
    padding: 0;
}

.page-hero-carousel img {
    object-position: center 20%;
}

.page-hero-carousel-navigation {
    display: none;
}

:is(.page-hero-carousel-navigation-prev, .page-hero-carousel-navigation-next) svg {
    width: 3.8rem;
}

:is(.page-hero-carousel-navigation-prev, .page-hero-carousel-navigation-next) svg * {
    stroke: currentColor;
}

:is(.page-hero-carousel-navigation-prev, .page-hero-carousel-navigation-next) svg:is(:active, :focus, :hover) * {
    stroke: currentColor;
}

@media (max-width: 767px) {
    .page-hero-carousel .eyebrow.page-hero-carousel-eyebrow {
        font: var(--font-body-xsmall);
    }

    .page-hero-carousel-slide {
        padding: calc(var(--block-margin) * 3) 0 calc(var(--block-margin) * 2) 0;
    }
}

@media (min-width: 768px) {
    .page-hero-carousel-navigation {
        display: block;
    }
}