.section-background > .blocks-container > * {
    max-width: var(--wide-width);
}

.section-background[data-color-scheme="light"] .title-and-content :is(h1, h2, h3, h4, h5, h6, a, p, span) {
    color: var(--color-black);
}

.section-background h2.wp-block-heading {
    font: var(--font-headline-3);
}

.section-background h3.wp-block-heading {
    font: var(--font-headline-4);
    margin-bottom: 0;
}

.section-background h4.wp-block-heading {
    font: var(--font-headline-6);
    font-weight: 300;
    line-height: 100%;
}

.section-background .wp-block-buttons {
    margin-top: calc(var(--block-margin) / 2);
}