.top-bar {
    padding: 1rem 0 1.8rem;
    background: var(--color-medium-blue);
}

.top-bar-inner {
    max-width: var(--wide-width);
    margin: 0 auto;
}

.top-bar-content {
    display: flex;
    margin: 0;
    padding: 0;
}

.top-bar-content p {
    color: var(--color-white);
    font: var(--font-body-small);
    margin-bottom: 0;
}

.top-bar-content p strong {
    color: var(--color-white);
}

.top-bar-social-media {
    display: none;
}

@media (max-width: 767px) {
    .top-bar {
        display: none;
    }
}

@media (min-width: 768px) {
    .top-bar {
        display: block;
    }

    .top-bar-inner {
        display: grid;
        align-items: center;
        grid-template-columns: 1fr 10rem;
    }

    .top-bar-inner span.address {
        white-space: nowrap;
    }

    .top-bar-social-media {
        display: block;
    }

    .top-bar-social-media ul {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        margin-bottom: 0;
    }

    .top-bar-social-media ul li {
        list-style: none;
    }

    .top-bar-social-media ul li a {
        display: flex;
        align-items: center;
    }

    .top-bar-social-media ul li a :is(svg, img) {
        width: 1.5rem;
        height: 1.5rem;
        object-fit: contain;
        flex-shrink: 0;
        margin-left: 0.8em;
    }

    .top-bar-social-media ul li a>svg * {
        fill: var(--color-white);
    }

    .top-bar-social-media ul li a:is(:hover, :active, :focus)>svg * {
        fill: var(--color-light-blue);
    }
}