.footer-one-main {
    grid-template-columns: auto;
}

.footer-one-column h2 {
    font: var(--font-headline-8);
    color: var(--color-white);
}

.footer-one-column-container {
    grid-template-columns: 1fr 1fr;
}

.footer-one-column nav a {
    color: var(--color-white);
    text-decoration: none;
    font: var(--font-body-small);
}

.footer-one-column nav a:is(:active, :hover, :focus) {
    color: var(--color-light-blue);
}

.footer-one-column ul li {
    margin-bottom: 0;
}

.footer-one-column.footer-one-social-media ul {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.footer-one-column.footer-one-social-media ul li a {
    font: var(--font-body-small);
    text-decoration: none;
    color: var(--color-white);
}

.footer-one-column.footer-one-social-media ul li a :is(svg, img) {
    width: 2rem;
    height: 2rem;
}

.footer-one-column.footer-one-social-media ul li a:is(:hover, :active, :focus) {
    color: var(--color-light-blue);
}

.footer-one-column.footer-one-social-media ul li a > svg * {
    fill: var(--color-white);
}

.footer-one-column.footer-one-social-media ul li a:is(:hover, :active, :focus) > svg * {
    fill: var(--color-light-blue);
}

@media (min-width: 768px) {
    .footer-one-column-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

@media (min-width: 1200px) {
    .footer-one-column-container {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}